/* Global Layout Settings */
* { 
    box-sizing: border-box;
  }

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(65, 71, 88);
    background: rgb(255, 255, 255);
  }

img {
    width: 100%;
  }

#profile-picture {
    width: 60%;
}

.header-wrap {
    margin-bottom: 2em;
  }

.main-nav {
    margin-left: 1em;
    margin-right: 1em;
}
.main-nav li {
    list-style-type: none;
    display: block;
    margin: .3em 0;
    line-height: 2;
  }

  a {
    background-color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    color: inherit;
  }

  h1 {
    margin: .5em 0;
  }

  header {
      padding-bottom: 1em;
      background-color: rgb(250, 250, 250)
  }

  p {
    line-height: 1.5;
  }

.container {
    padding: 1em;
}

.wrapper {
    padding-bottom: 1.8em;
}


h2 {
    padding: 1.6em 0;
    font-size: 1em;
}

h3 {
    padding-top: .5em;
}

footer {
    background-color: rgb(250, 250, 250);
}

#footer-split{
    border-bottom: 2px rgb(237, 237, 237) solid;
    padding-bottom: 3em;
}

h4 {
    display: inline-block;
    margin-bottom: .6em;
}

.h4-left {
    float: left;
}

.h4-right {
    float: right;
}

.clearfix::after {
	Content: "";
	Display: table;
    Clear: both;
}